@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme {
  --color-button: #F6B200;
  --color-button-hover: #F5C74E;

  --color-cart-red: #FF0001;

  --color-counter: hsl(360 100% 65%);
  --color-product-added: hsl(360 100% 60%);

  --color-nav: hsla(43, 100%, 48%, 0.65);

  --shadow-yellow: 0px 5px 25px 4px hsla(43, 100%, 48%, 0.31);
  --shadow-card: 0px 0px 12.1px 0px hsla(0, 4%, 7%, 0.15);
  --shadow-hero: 0px 5px 25px 4px hsla(0, 100%, 50%, 0.3);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  background: #FDFCFC;
  color: #131212;
  font-family: 'Space Mono', sans-serif;
} 
